[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DPSynth"]
	path = DPSynth
	url = https://github.com/mukulbijalwan/dpsynth
[submodule "DPrivStats"]
	path = DPrivStats
	url = https://github.com/mukulbijalwan/dprivstats
